:root {
    --boardSize: 4;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--boardSize), 1fr);
}

.card {
    border: 3px solid black;
    margin: 16px;
    border-radius: 16px;
    
    background: #8600ed;
    background: linear-gradient(90deg, rgba(134, 0, 237, 1) 0%, rgba(255, 112, 112, 1) 81%);
}